<VirtualHost *:80>
    ServerName {{ server }}
    ServerAlias {{http_host}}
    DocumentRoot /var/www/{{http_host}}
    ErrorLog /var/www/yourdomain.com/error.log
    CustomLog /var/www/yourdomain.com/requests.log combined

    <Directory /var/www/{{http_host}}>
     Options Indexes FollowSymLinks
     AllowOverride None
     Require all granted
  </Directory>
</VirtualHost>